.HomepageMainDiv {
  display: flex;
  margin: 10px;
}

.homepageDiv {
  /* width: 80%; */
  /* background-image: url(../../images/background/back1.jpg); */
}

.productListClass {
  /* display: flex;
  flex-direction: column; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px;
  gap: 15px;
  /* border-radius: 1px solid black; */
}
.productClassArr {
  /* background-color: rgba(250, 250, 250, 1); */
  /* display: flex; */
  /* border-radius: 1px solid black; */
}

.productListimage {
  height: 200px;
  width: 200px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.contentdivforHome {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(196, 199, 212, 1);
  border-radius: 5px;
  max-width: 500px;
  transition-duration: 0.4s;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.contentdivforHome:hover {
  transform: scale(1.05);
}

.imageListDivevery {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.mainPriceDiv {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.productNameh2 {
  text-align: center;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-block-start: 0.9em;
  margin-block-end: 0.9em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* font-weight: 200; */
  text-decoration: none;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  padding: 2px;
}

.productnameDivforMain {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  /* line-height: 1.5em; */
  /* height: 3em; */
  /* overflow: hidden; */
}

.priceMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin-bottom: 10px;
  /* margin-top: -20px; */
}

.productlistnameclass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  /* text-shadow: 2px 2px 8px #a9a6a6; */
  font-size: 1.6em;
  font-weight: bolder;
  margin-block-start: 0.9em;
  margin-block-end: 0.9em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* title styles */
.productlistnameclass span {
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}
/*
.productlistnameclass span::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(168, 163, 163);
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.productlistnameclass span::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  /* transform: translateX(0); */
/* } */

/* .productlistnameclass span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 1s;
} */

/* @keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
} */

.sideBarDiv {
  margin: 10px 10px 0px 10px;
  /* display: flex; */
  float: left;
  /* background-color: #0f1111d5; */
  /* border: 1px solid black; */
  width: 20%;
  height: 500px;
  position: sticky;
  top: 20px;
  /* border: 1px solid rgba(196, 199, 212, 1); */
}

/* .ParentHomePageDiv {
  display: flex;
} */

/* .InnerDivBtnSelect {
  position: sticky;
  width: 100%;
} */

@media (max-width: 1170px) {
  .productListClass {
    /* display: flex;
    flex-direction: column; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px;
    gap: 15px;
    border-radius: 1px solid black;
  }
}

@media (max-width: 891px) {
  .productListClass {
    /* display: flex;
    flex-direction: column; */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px;
    gap: 15px;
    border-radius: 1px solid black;
  }
}

.logOutBtneleHome {
  font-size: 20px;
  /* padding: 5px; */
  font-family: 'Poppins', sans-serif;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.738);
  color: white;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.logOutBtneleHome:focus {
  font-size: 20px;
  /* padding: 5px; */
  font-family: 'Poppins', sans-serif;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.738);
  color: rgb(8, 255, 58);
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.logOutBtneleHome:hover {
  background-color: rgba(73, 65, 65, 0.83);
  box-shadow: 0 12px 16px 0 rgba(239, 235, 235, 0.24),
    0 17px 50px 0 rgba(247, 247, 247, 0.19);
  color: black;
  transform: scale(1.1);
}

.buttonDivCatogory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* width: 50px; */
  margin: 20px 20px 20px 20px;
}

.catogoryClass {
  display: flex;
  justify-content: center;
  margin: 10px 10px 15px 10px;
  font-size: 25px;
  font-weight: bolder;
}
