.footer-container {
  display: flex;
  background-color: #0f1111d5;
  width: 100%;
  height: 65px;
  font-size: 13px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.footer-container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0px 0px 0px 20px; */
}

.footer-developed-by {
  /* padding-left: 30px; */
  font-weight: bold;
}

.footer-developer-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.footer-image-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.footerIconClass {
  transition-duration: 0.4s;
}

.footerIconClass:hover {
  transform: scale(1.1);
}

.technologiesDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100px;
}

.technologiesDivImg {
  /* width: 100px; */
}

.nameDivfortech {
  padding: 10px;
  text-align: center;
}
