.editCartDeatailmainDiv {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.updatequnatity456 {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.updateselectele564 {
  margin: 5px;
  color: black;
  cursor: pointer;
  border: 0.5px solid black;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: -internal-light-dark(rgb(94, 91, 91), rgb(133, 133, 133));
  padding: 4px 8px 4px 10px;
  /* width: 50%; */
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: white;
  box-shadow: 0 1px 3px -2px #9098a9;
  cursor: pointer;
  font-family: inherit;
  font-weight: bolder;
  font-size: 16px;
}

.updateEditCartselect5897 {
}

.submitFinalUpdate7891 {
  margin: 5px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.submitFinalUpdate789 {
  margin: 5px;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
