.editCartDeatailmainDiv {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.updatequnatity456 {
  display: flex;
  justify-content: center;
  align-items: center;
}
