.editCartDeatailmainDiv {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.updatequnatity456 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.updateselectele564 {
  margin: 5px;
  color: black;
  cursor: pointer;
  border: 0.5px solid black;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 0.5px;
  border-color: -internal-light-dark(rgb(94, 91, 91), rgb(133, 133, 133));
}

.updateEditCartselect5897 {
}

.submitFinalUpdate789,
.submitFinalUpdate789 {
  margin: 5px;
}
