.splashPageMainDiv {
  display: flex;
  align-items: center;
  height: 82vh;
  justify-content: center;
  background-image: url(../..//images//splashPageimg/image1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  animation: change linear 12s infinite;
  background-color: white;
}

@keyframes change {
  0% {
    opacity: 0.6;
    animation-timing-function: ease-in;
    background-image: url(../..//images//splashPageimg/image1.png);
  }
  50% {
    opacity: 0.7;
    animation-timing-function: ease-out;
    background-image: url(../..//images//splashPageimg/image2.jpg);
  }
}

.infoforsplashPage {
  margin-top: -90px;
  color: black;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.02em;
  z-index: 10;
  animation: change2 linear 10s infinite;
}

@keyframes change2 {
  0% {
    color: black;
    font-weight: 600;
  }
  50% {
    color: black;
    font-weight: 600;
  }
}

.divbutttonforladningPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductBtnonSplashPage {
  height: 50px;
  width: 170px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
  animation: change3 linear 5s infinite;
}

@keyframes change3 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}

.ProductBtnonSplashPage:hover {
  box-shadow: 0 12px 16px 0 rgba(239, 235, 235, 0.24),
    0 17px 50px 0 rgba(247, 247, 247, 0.19);
  transform: scale(1.2);
}
.appLogoSplashPage {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  /* margin-top: -80px; */
}
.appLogoSplashPageimg {
  z-index: 100;
}
