.splashPageMainDiv {
  /* display: flex; */
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  background-image: url(../../images/splashPageimg/main.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  animation: change linear 18s infinite;
  background-color: white;
}

@keyframes change {
  0% {
    opacity: 0.8;
    animation-timing-function: ease-in;
    background-image: url(../../images/splashPageimg/main.png);
  }
  25% {
    background-image: url(../../images/splashPageimg/main.png);
  }
  50% {
    opacity: 0.7;
    animation-timing-function: ease-in;
    background-image: url(../../images/splashPageimg/main2.png);
  }
  75% {
    background-image: url(../../images/splashPageimg/main2.png);
  }
}

.productMainbtn {
  margin-left: 40px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border: 1px solid grey;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.4s;
  animation: change3 linear 5s infinite;
}

@keyframes change3 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
}
.splashPAGEdiv {
  z-index: 50;
  /* width: 80%; */
  /* background-color: rgb(248, 248, 249); */
  margin: 3px;
  padding: 5px;
  display: flex;
  justify-content: center;
  font-family: 'Lato';
  font-size: 22px;
  font-weight: 800;
  line-height: 72px;

  text-align: center;
  text-transform: uppercase;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  align-items: center;
  border-radius: 5px;
  font-weight: bolder;
}

.mainDivimage {
  height: 70px;
  width: 130px;
}
