/* .mainDivforOrderList {
} */

.mainDivForOrderDetailPAAGEE {
  width: 100%;
  background-color: rgba(247, 247, 248, 1);
}

.MainDivforOrdersListPAGE {
  margin-top: 10px;
  height: 100%;
}

.OrderListDiv {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  /* align-items: center; */
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;
}

.widthOrderListDiv {
  /* display: flex; */
}
.InnerDivOrderList {
  /* border: 1px solid rgb(122, 117, 117); */
}

.doubleInnerDivOrderList {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgba(213, 215, 222, 0.945); */
  margin: 50px;
}

.OneOrderListDiv {
  /* border: 1px solid rgba(189, 192, 203, 1); */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  /* border-radius: 5px; */
  display: flex;
  justify-content: center;
  padding: 5px;
  /* width: 60%; */
  /* margin: 20px 20px; */
}

.UpdateOrderBtnforsecondPG {
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.734);
  background-color: rgb(74, 74, 75);
  /* color: white; */
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.UpdateOrderBtnforsecondPG1 {
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.734);
  background-color: rgb(74, 74, 75);
  /* color: white; */
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}
.UpdateOrderBtnforsecondPG:hover,
.UpdateOrderBtnforsecondPG1:hover {
  color: white;
  transform: scale(1.1);
}

.innnerDivmainUpdateOrderDiv {
  border: 1px solid rgba(97, 99, 107, 1);
}

.MainUpdateOrderDiv {
  margin: 25px;
}

.innerOrderUpdateOrderCartListDivand {
  margin: 10px;
  border: 1px solid rgba(172, 172, 175, 1);
  border-radius: 5px;
}

.submitFinalUpdate789 {
  margin: 5px;
  background-color: rgba(172, 172, 175, 1);
  /* color: white; */
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.submitFinalUpdate789:hover {
  background-color: rgba(134, 118, 118, 0.66);
  box-shadow: 0 12px 16px 0 rgba(239, 235, 235, 0.24),
    0 17px 50px 0 rgba(247, 247, 247, 0.19);
  color: black;
  transform: scale(1.05);
}

.tableable {
  border: 1px solid black;
}

.header456123789 {
  margin-top: 5px;
  font-weight: 500;
}

.logoCompleted {
  height: 30px;
  width: 30px;
}

.insideDivCompleted {
  display: flex;
  align-items: center;
  color: green;
}

.ficelDivinnergamesshow {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.spanStatusOrderin {
  color: rgb(0, 123, 255);
}

.MainDHeaderforDeatipop {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
}

.bodymaindivorderDetailpage456 {
  /* background-color: grey; */
  background-color: white;
  border: 1px solid rgba(215, 217, 224, 1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
}

.header456123789 {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 900;
  padding: 10px;
}

.header43warnning {
  display: flex;
  justify-content: center;
  /* font-weight: bold; */
  padding: 5px;
  font-size: 20px;
  font-weight: 900;
  color: red;
  text-align: center;
}

.NavLinkOrderList {
  color: grey;
}

.borderBottomTR {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
