.ProductsdetailDiv {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  /* flex-direction: column; */
  /* max-width: 500px; */
}

.priceCartorderBoxDiv {
  display: flex;
  border: 1px solid black;
  width: 250px;
  margin-left: 10%;
  /* width: 100%; */
}

.productListClassforProductdetailPage {
  width: 70%;
  border: 1px solid black;
}

.contentdivForproductdetailpage {
}

.ProductMainDiv {
  height: 100%;
}
