.MainDivForReviewCard {
  /* border: 1px solid rgba(189, 189, 189, 1); */
  border-radius: 15px;
  margin: 80px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-direction: column;
  /* width: 500px; */
  margin-left: 30%;
  margin-right: 30%;
}
.MainDivForReviewCard2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* width: 500px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
}

.REviewCardDivH1Tag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddReviewbtninsideDiv {
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-bottom: 15px;
}

.AddReviewbtninsideDiv:hover {
  transform: scale(1.2);
}

.reviewContentDivwrap {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  overflow-wrap: break-word;
  margin: 10px;
  border: 0.5px solid rgba(184, 187, 198, 1);
  border-radius: 5px;
  padding: 5px;
}

.mainDivforTwoBtneditRdR {
  display: flex;
  justify-content: center;
}

.reviewEditButton {
  margin: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.reviewEditButton:hover {
  transform: scale(1.1);
}

.reviewDeleteButton {
  margin: 5px;
  border-radius: 3px;
  border: 1px solid lightgrey;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.reviewDeleteButton:hover {
  transform: scale(1.1);
}
