/* .bodyofCartOrderList {
  height: 50px;
  width: 50px;
} */

.bodyCartorderimage {
  height: 50px;
  width: 50px;
}

.bodyofCartOrderList {
  display: flex;
  flex-direction: column;
  margin: 7px;
  padding: 3px;
  /* border: 1px solid grey; */
}

.innerClassList456789 {
  border: 1px solid rgba(218, 219, 220, 1);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  margin: 4px;
  padding: 10px;
}
