.newDivDemoUser {
  display: flex;
  align-items: center;
}

.logOutBtnele {
  margin-left: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid grey;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.logOutBtnele:hover {
  background-color: rgba(134, 118, 118, 0.66);
  box-shadow: 0 12px 16px 0 rgba(239, 235, 235, 0.24),
    0 17px 50px 0 rgba(247, 247, 247, 0.19);
  color: black;
  transform: scale(1.2);
}

.userNameDivinNav {
}

.totalItemCartInNavBar {
  height: 30px;
  margin-top: px;
  /* transition-duration: 0.4s; */
}
/* .totalItemCartInNavBar:hover {
  border: 1px solid white;
} */
