#nameOfuser {
  color: white;
  margin-right: 14px;
}

#LogoutBtn {
  border: 1px black;
  padding: 1px;
  margin-right: 10px;
  cursor: pointer;
  font-family: cursive;
  border-radius: 5px;
}

#LogoutBtn:hover {
  color: red;
  border-color: #dddddd;
}

#profile-dropdown {
  margin-top: 15px;
}

#demoBtn {
  font-size: 17px;
}
