.shoppindCartTotalNumberOfItems {
  /* height: 60px; */
  width: 50px;
  /* border: 1px solid black; */
  transition-duration: 0.2s;
}

.shoppindCartTotalNumberOfItems:hover {
  border: 1px solid white;
}

.imageCartTotalSumCount {
  height: 35px;
  width: 35px;
  margin-left: 8px;
  fill: white;
}

.totalSumNumber {
  display: flex;
  justify-content: center;
  color: white;
}
