.shoppindCartTotalNumberOfItems {
  display: flex;
  width: fit-content;
  transition-duration: 0.2s;
}

.shoppindCartTotalNumberOfItems:hover {
  transform: scale(1.05);
  /* border: 0.2px solid white; */
}

.imageCartTotalSumCount {
  margin-top: 2px;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  fill: white;
}

.totalSumNumber {
  /* display: flex;
  justify-content: center; */
  margin-top: 2px;
  padding: 0px 7px 0px 7px;
  color: white;
}

.carDivonNav {
}
